<!DOCTYPE html>
<html>
    <div class="pop">
        <div></div>
        <a>Улучшаются социальные качества – тут работает принцип или-или: либо вы совершенствуете умение заводить друзей, либо остаётесь в одиночестве, увлажняя каждую ночь подушку своими слезами. Вы учитесь дружиться с незнакомыми людьми и более спокойно чувствуете себя при разговоре с ними. Когда я впервые начал ездить по миру, я был отчасти интровертом и чувствовал себя неуютно во время разговора с теми, кого не знал. Теперь же я с удовольствием болтаю с незнакомцами – как с лучшими друзьями.</a>
        <img src="C:\Users\Сергей\Downloads\2.png" width="500" height="500">
        <div></div>
        <a>Повышается уверенность – вы объездили целый мир, взобрались на Эверест, нырнули к Большому Барьерному рифу, угощали вином и обедом прекрасных дам во Франции, ориентировались в незнакомых городах и боролись со страхом высоты. В общем, вы не скучали. Как после всего этого у вас не прибавилось самоуверенности? Как могла не прибавиться уверенность в своих способностях? После таких приключений уверенность в том, что для вас нет ничего невозможного, возрастает в разы.</a>
        <img src="C:\Users\Сергей\Downloads\ad8c091bc6968e5a8b6ce53e12d62ce5.jpg" height="500" width="500">
        <div></div>
        <a>Улучшается способность к адаптации – вы пережили опоздания на самолёт, медленные автобусы, повороты не туда, задержки, отвратительную уличную еду и ещё многое другое. Вы учитесь подстраиваться под изменяющиеся ситуации. Уже не раздражаетесь, не злитесь – просто вносите необходимые изменения в свои планы и двигаетесь дальше. Жизнь подбрасывает сложности, а вы щёлкаете их как орешки. Почему? Потому что вы вот такой потрясающий человек! </a>
        <img src="C:\Users\Сергей\Downloads\16665456676593.jpg" height="500" width="500">
        <div></div>
        <a>Появляется раскрепощённость – уверенность в том, что для вас нет ничего невозможного, позволяет совершать невозможные вещи. На прошлой неделе в городе Остин (штат Техас, США), несмотря на нелюбовь к острой пище, я съел самый острый перец на земле и немного экстракта капсаицина. Почему? Просто потому, что захотел. В чем смысл жизни, если ты не вылазишь из зоны комфорта? После такой еды пожар во рту не потухал довольно долго, но я не откажусь повторить такой опыт ещё раз.</a>
        <img src="C:\Users\Сергей\Downloads\ia-vse-mogu-3.webp" height="500" width="500">
        <div></div>
        <a>Повышается привлекательность – стресс ускоряет старение. Благодаря беззаботным и спокойным денькам во время путешествия вы становитесь более уверенным и энергичным, скорость старения также снижается. Будете выглядеть молодо и привлекательно.</a>
        <img src="C:\Users\Сергей\Downloads\5e48209ff882397d4f820a2e16bd9b0c.jpg" height="250" width="250">
        <div></div>
    </div>
        </html>