<!DOCTYPE html>
<html>
    <head>
        <title>title</title>
        <meta charset="UTF-8">
    </head>
<body>
    <div>
    <h1>Советчик Туриста</h1>
    <p>20 советов начинающим путешественникам</p>
    <link rel="stylesheet" href="/static/abobochka.css">
    </div>
    <div class="lol">
    <a href="/">Советы</a>
    <a href="/facts">Факты о влиянии путешествий на жизнь</a>
    <a href="/sovet">Где взять лучшие билеты</a>
    <a href="/login">авторизация</a>
    <a href="/register">регистрация</a>
    </div>
    <div>
    <a>Без этого чеклиста вы точно забудете что-то важное.</a>
    </div>
    <div class = "kek">
        <div></div>
        <a>1. Убедитесь, что знаете визовые требования страны, в которую едете. Кажется очевидным, но... Я дважды в жизни видел, как для людей путешествие закончилось у стойки регистрации в аэропорту. </a>
        <div></div>
        <a1>2. Отсканируйте паспорт перед отъездом — и сохраните скан и на телефоне, и в облаке. С собой носите бумажную ксерокопию. А сам паспорт лучше оставить в сейфе отеля. </a1>
        <div></div>
        <a2>3. Не складывайте паспорт и деньги в один конверт. </a2>
        <div></div>
        <a3>4. Не берите с собой ценные вещи и много наличных. В отеле оставлять страшно, с собой носить тоже... Мало ли, куда вы надумаете пойти.</a3>
        <div></div>
        <a4>5. Обзаведитесь маленькой нательной сумкой для денег и документов на время пути.</a4>
        <div></div>
        <a5>6. Не будьте слишком доверчивыми, но и паранойя вам не друг. Лучше всего перед поездкой почитайте немного о стране, в которую едете и действуйте соответственно. Например, в Греции вас вряд ли станут обманывать, а вот в восточных странах вполне возможна ситуация «покататься на верблюде — бесплатно, слезть — платно».   </a5>
        <div></div>
        <a6>7. Оставайтесь на связи с семьёй и друзьями. Оставьте им свои контакты и адреса и периодически давайте о себе знать.</a6>
        <div></div>
        <a7>8. Возьмите с собой не больше половины того, что изначально собирались запихнуть в чемодан. На самом деле, часто не нужен даже чемодан — рюкзака на 30–40 литров более чем достаточно.</a7>
        <div></div>
        <a8>9. Скатывание одежды в рулончики действительно уменьшает объём багажа.</a8>
        <div></div>
        <a9>10. Возможность расплачиваться картой в другой стране не зависит от валюты карты, как и возможность снимать деньги в банкомате. Просто они будут пересчитываться по текущему курсу.</a9>
        <div></div>
        <a10>11. Храните запасы денег в разных местах.</a10>
        <div></div>
        <a11>12. Купите туристическую страховку. И пусть она вам не понадобится.</a11>
        <div></div>
        <a12>13. Не зацикливайтесь на отеле. Есть много других способов переночевать — снять квартиру или комнату на Airbnb и пожить как местный, остановиться в семье по системе Bed&Breakfast или поспать в хостеле.</a12>
        <div></div>
        <a13>14. Знайте свой лимит алкоголя.</a13>
        <div></div>
        <a14>15. Лёгкие наркотики легко достать в большинстве туристических мест, но это не значит, что они легальны. В некоторых странах действуют суровые наказания за употребление. Действительно суровые.</a14>
        <div></div>
        <a15>16. Не удивляйтесь вопросу «Откуда вы?». В долгой поездке вы будете слышать его постоянно.</a15>
        <div></div>
        <a16>17. Избегайте чрезмерного планирования. От него одни разочарования. Иметь какой-то план хорошо — но пусть он будет возможностью, а не обязанностью. Просто дайте всему идти как идёт. </a16>
        <div></div>
        <a17>18. Путеводители хороши, но это не панацея. О некоторых интересных местах можно узнать только от местных жителей или от других путешественников. Оставьте свою застенчивость дома и пообщайтесь с людьми. </a17>
        <div></div>
        <a18>19. Зайдите в туристический центр в пункте назначения.</a18>
        <div></div>
        <a19>20. Загрузите себе карту города заранее, чтобы она работала оффлайн и не «тянула» мегабайты в роуминге.</a19>
    </div>
</body>
</html>